In [57]:
from carbon import CarbonSimulatorUI, P, __version__, __date__
print(f"Carbon v{__version__} ({__date__})")
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CarbonSimulatorUI))

Carbon v2.0-beta2 (8/Dec/2022)
CarbonSimulatorUI v2.1+sglpos1 (8/Dec/2022)

# Carbon Simulation - Test TEMPLATE - TOPIC

In [58]:
Sim = CarbonSimulatorUI(pair="ETH/USDC", raiseonerror=True)
Sim

CarbonSimulatorUI(<0 orders, 0 trades>, pair='ETH/USDC', mm='exact', xf=True)

In [59]:
r = Sim.add_strategy("ETH", 10, 2000, 3000, 1000, 1000, 750)
r = Sim.add_strategy("ETH", 11, 2010, 3010, 1010, 1010, 760)
r["orders"]

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
2,2,ETHUSDC,ETH,11.0,11.0,ETH,False,2010.0,3010.0,2010.0,USDC per ETH,3
3,3,ETHUSDC,USDC,1010.0,1010.0,USDC,False,1010.0,760.0,1010.0,USDC per ETH,2

In [60]:
r = Sim.state()["orders"]
assert len(r) == 4
r

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,1
1,1,ETHUSDC,USDC,1000.0,1000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,0
2,2,ETHUSDC,ETH,11.0,11.0,ETH,False,2010.0,3010.0,2010.0,USDC per ETH,3
3,3,ETHUSDC,USDC,1010.0,1010.0,USDC,False,1010.0,760.0,1010.0,USDC per ETH,2

In [61]:
r = Sim.state()["orders"].query("tkn=='ETH'")
assert len(r) == 2
r

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,1
2,2,ETHUSDC,ETH,11.0,11.0,ETH,False,2010.0,3010.0,2010.0,USDC per ETH,3

In [62]:
r = Sim.amm_sells("ETH", 10, execute=False)["trades"]
assert len(r) == 3
r

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,0.0,0,0,route #0,False,False,None,4.817761,ETH,10569.989183,USDC,ETHUSDC,0,1,2196.801781,USDC per ETH
0,0.1,0,1,route #2,False,False,None,5.182239,ETH,11398.028630,USDC,ETHUSDC,2,1,2196.801781,USDC per ETH
0,0,0,A,AMM sells 10ETH buys 21968USDC,True,False,None,10.000000,ETH,21968.017813,USDC,ETHUSDC,"[0, 2]",2,2196.801781,USDC per ETH

In [63]:
r = Sim.amm_buys("ETH", 1, execute=False)["trades"].query("aggr==True")
assert len(r) == 1
r

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,1,1,A,AMM sells 942USDC buys 1ETH,True,False,None,942.333914,USDC,1.0,ETH,ETHUSDC,"[1, 3]",2,942.333914,USDC per ETH