In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [12]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.6 8/Nov/2022

# Carbon Simulation - Test 11

In [3]:
Sim = CarbonSimulatorUI(pair="USDCETH", verbose=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='USDCETH')

In [4]:
Sim.add_sgl_pos("ETH", 10, 2000, 2000)
Sim.add_sgl_pos("ETH", 10, 2010, 2010)
Sim.add_sgl_pos("ETH", 10, 2020, 2020)
Sim.add_sgl_pos("ETH", 10, 2030, 2030)
Sim.add_sgl_pos("ETH", 10, 2040, 2040)
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,USDCETH,ETH,10.000000,10.000000,2000.000000,2000.000000,0
1,1,USDCETH,ETH,10.000000,10.000000,2010.000000,2010.000000,1
2,2,USDCETH,ETH,10.000000,10.000000,2020.000000,2020.000000,2
3,3,USDCETH,ETH,10.000000,10.000000,2030.000000,2030.000000,3
4,4,USDCETH,ETH,10.000000,10.000000,2040.000000,2040.000000,4

In [6]:
Sim.trader_buys("ETH", 10)["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,0.1,route thru #0,10.0,20000.0,ETH,USDC,USDCETH,0,1,2000.0
0,0,10.0 ETH \n traded for \n20000.0 USDC \n,10.0,20000.0,ETH,USDC,USDCETH,[0],1,2000.0 USDC per ETH

In [7]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,USDCETH,ETH,10.000000,0.000000,2000.000000,2000.000000,0
1,1,USDCETH,ETH,10.000000,10.000000,2010.000000,2010.000000,1
2,2,USDCETH,ETH,10.000000,10.000000,2020.000000,2020.000000,2
3,3,USDCETH,ETH,10.000000,10.000000,2030.000000,2030.000000,3
4,4,USDCETH,ETH,10.000000,10.000000,2040.000000,2040.000000,4

In [8]:
Sim.trader_buys("ETH", 10)
Sim.trader_buys("ETH", 10)
Sim.trader_buys("ETH", 10)
Sim.trader_buys("ETH", 10)
Sim

CarbonSimulatorUI(<5 positions, 5 trades>, pair='USDCETH')

In [10]:
Sim.state()["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,0.1,route thru #0,10.0,20000.0,ETH,USDC,USDCETH,0,1,2000.0
0,0,10.0 ETH \n traded for \n20000.0 USDC \n,10.0,20000.0,ETH,USDC,USDCETH,[0],1,2000.0 USDC per ETH
0,1.1,route thru #1,10.0,20100.0,ETH,USDC,USDCETH,1,1,2010.0
0,1,10.0 ETH \n traded for \n20100.0 USDC \n,10.0,20100.0,ETH,USDC,USDCETH,[1],1,2010.0 USDC per ETH
0,2.1,route thru #2,10.0,20200.0,ETH,USDC,USDCETH,2,1,2020.0
0,2,10.0 ETH \n traded for \n20200.0 USDC \n,10.0,20200.0,ETH,USDC,USDCETH,[2],1,2020.0 USDC per ETH
0,3.1,route thru #3,10.0,20300.0,ETH,USDC,USDCETH,3,1,2030.0
0,3,10.0 ETH \n traded for \n20300.0 USDC \n,10.0,20300.0,ETH,USDC,USDCETH,[3],1,2030.0 USDC per ETH
0,4.1,route thru #4,10.0,20400.0,ETH,USDC,USDCETH,4,1,2040.0
0,4,10.0 ETH \n traded for \n20400.0 USDC \n,10.0,20400.0,ETH,USDC,USDCETH,[4],1,2040.0 USDC per ETH

In [11]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,USDCETH,ETH,10.000000,0.000000,2000.000000,2000.000000,0
1,1,USDCETH,ETH,10.000000,0.000000,2010.000000,2010.000000,1
2,2,USDCETH,ETH,10.000000,0.000000,2020.000000,2020.000000,2
3,3,USDCETH,ETH,10.000000,0.000000,2030.000000,2030.000000,3
4,4,USDCETH,ETH,10.000000,0.000000,2040.000000,2040.000000,4