In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [2]:
print("[carbon_simulator] version", uiversion, uidate)
jp("probably failed; see below (Mark needs to look at it)")

[carbon_simulator] version 0.9.6 8/Nov/2022

# Carbon Simulation - Test 10

In [3]:
Sim = CarbonSimulatorUI(verbose=False, raiseonerror=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='None')

## Trading the full position

we show that the full position, if traded in a single trade, is indeed traded at the geometric average, here 2449

In [4]:
Sim.add_sgl_pos("ETH", 100, 2000, 3000, "ETHUSDC")
print(sqrt(2000*3000))
Sim.state()["orders"]

2449.489742783178

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,100.000000,100.000000,3000.000000,2000.000000,0

In [5]:
Sim.amm_sells("ETH", 100, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,0.1,route thru #0,100.0,244948.974278,ETH,USDC,ETHUSDC,0,1,2449.489743
0,0,100.0 ETH \n traded for \n244948.974278 USDC \n,100.0,244948.974278,ETH,USDC,ETHUSDC,[0],1,2449.489743 USDC per ETH

In [6]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,0

## Trading the position in two symmetric steps

we show that the full position, if traded in a two trades, is still effectively traded at the geometric average, here 2449

In [7]:
Sim.add_sgl_pos("ETH", 100, 2000, 3000, "ETHUSDC")
print(sqrt(2000*3000))
Sim.state()["orders"]

2449.489742783178

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,0
1,1,ETHUSDC,ETH,100.000000,100.000000,3000.000000,2000.000000,1

In [8]:
Sim.amm_sells("ETH", 50, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,1.1,route thru #1,50.0,110102.051443,ETH,USDC,ETHUSDC,1,1,2202.041029
0,1,50.0 ETH \n traded for \n110102.051443 USDC \n,50.0,110102.051443,ETH,USDC,ETHUSDC,[1],1,2202.041029 USDC per ETH

In [9]:
Sim.amm_sells("ETH", 50, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,2.1,route thru #1,50.0,134846.922835,ETH,USDC,ETHUSDC,1,1,2696.938457
0,2,50.0 ETH \n traded for \n134846.922835 USDC \n,50.0,134846.922835,ETH,USDC,ETHUSDC,[1],1,2696.938457 USDC per ETH

In [10]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,0
1,1,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,1

In [11]:
Sim.state()["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,0.1,route thru #0,100.0,244948.974278,ETH,USDC,ETHUSDC,0,1,2449.489743
0,0,100.0 ETH \n traded for \n244948.974278 USDC \n,100.0,244948.974278,ETH,USDC,ETHUSDC,[0],1,2449.489743 USDC per ETH
0,1.1,route thru #1,50.0,110102.051443,ETH,USDC,ETHUSDC,1,1,2202.041029
0,1,50.0 ETH \n traded for \n110102.051443 USDC \n,50.0,110102.051443,ETH,USDC,ETHUSDC,[1],1,2202.041029 USDC per ETH
0,2.1,route thru #1,50.0,134846.922835,ETH,USDC,ETHUSDC,1,1,2696.938457
0,2,50.0 ETH \n traded for \n134846.922835 USDC \n,50.0,134846.922835,ETH,USDC,ETHUSDC,[1],1,2696.938457 USDC per ETH

In [12]:
p0 = Sim.state()["trades"].iloc[0]["price_avg"]
print(f"selling 100 ETH for {p0*100} USDC (price {p0})")

selling 100 ETH for 244948.9743 USDC (price 2449.489743)

In [13]:
p11 = Sim.state()["trades"].iloc[2]["price_avg"]
print(f"selling 50 ETH for {p11*50} USDC (price {p11})")

selling 50 ETH for 110102.05145 USDC (price 2202.041029)

In [14]:
p12 = Sim.state()["trades"].iloc[4]["price_avg"]
print(f"selling 50 ETH for {p12*50} USDC (price {p12})")

selling 50 ETH for 134846.92285 USDC (price 2696.938457)

In [15]:
print(f"selling 100 ETH for {p11*50+p12*50} USDC (price {(p11*50+p12*50)/100})")

selling 100 ETH for 244948.9743 USDC (price 2449.489743)

## Trading the position in two asymmetric steps

we show that the full position, if traded in a two trades, is still effectively traded at the geometric average, here 2449

In [16]:
Sim.add_sgl_pos("ETH", 100, 2000, 3000, "ETHUSDC")
print(sqrt(2000*3000))
Sim.state()["orders"]

2449.489742783178

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,0
1,1,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,1
2,2,ETHUSDC,ETH,100.000000,100.000000,3000.000000,2000.000000,2

In [17]:
Sim.amm_sells("ETH", 30, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,3.1,route thru #2,30.0,63495.491961,ETH,USDC,ETHUSDC,2,1,2116.516399
0,3,30.0 ETH \n traded for \n63495.491961 USDC \n,30.0,63495.491961,ETH,USDC,ETHUSDC,[2],1,2116.516399 USDC per ETH

In [18]:
Sim.amm_sells("ETH", 70, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,4.1,route thru #2,70.0,181453.482317,ETH,USDC,ETHUSDC,2,1,2592.192605
0,4,70.0 ETH \n traded for \n181453.482317 USDC \n,70.0,181453.482317,ETH,USDC,ETHUSDC,[2],1,2592.192605 USDC per ETH

In [19]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,0
1,1,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,1
2,2,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,2

In [20]:
Sim.state()["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,0.1,route thru #0,100.0,244948.974278,ETH,USDC,ETHUSDC,0,1,2449.489743
0,0,100.0 ETH \n traded for \n244948.974278 USDC \n,100.0,244948.974278,ETH,USDC,ETHUSDC,[0],1,2449.489743 USDC per ETH
0,1.1,route thru #1,50.0,110102.051443,ETH,USDC,ETHUSDC,1,1,2202.041029
0,1,50.0 ETH \n traded for \n110102.051443 USDC \n,50.0,110102.051443,ETH,USDC,ETHUSDC,[1],1,2202.041029 USDC per ETH
0,2.1,route thru #1,50.0,134846.922835,ETH,USDC,ETHUSDC,1,1,2696.938457
0,2,50.0 ETH \n traded for \n134846.922835 USDC \n,50.0,134846.922835,ETH,USDC,ETHUSDC,[1],1,2696.938457 USDC per ETH
0,3.1,route thru #2,30.0,63495.491961,ETH,USDC,ETHUSDC,2,1,2116.516399
0,3,30.0 ETH \n traded for \n63495.491961 USDC \n,30.0,63495.491961,ETH,USDC,ETHUSDC,[2],1,2116.516399 USDC per ETH
0,4.1,route thru #2,70.0,181453.482317,ETH,USDC,ETHUSDC,2,1,2592.192605
0,4,70.0 ETH \n traded for \n181453.482317 USDC \n,70.0,181453.482317,ETH,USDC,ETHUSDC,[2],1,2592.192605 USDC per ETH

In [21]:
p0 = Sim.state()["trades"].iloc[0]["price_avg"]
print(f"selling 100 ETH for {p0*100} USDC (price {p0})")

selling 100 ETH for 244948.9743 USDC (price 2449.489743)

In [22]:
p11 = Sim.state()["trades"].iloc[6]["price_avg"]
print(f"selling 30 ETH for {p11*30} USDC (price {p11})")

selling 30 ETH for 63495.49197 USDC (price 2116.516399)

In [23]:
p12 = Sim.state()["trades"].iloc[8]["price_avg"]
print(f"selling 70 ETH for {p12*70} USDC (price {p12})")

selling 70 ETH for 181453.48235 USDC (price 2592.192605)

In [24]:
print(f"selling 100 ETH for {p11*30+p12*70} USDC (price {(p11*30+p12*70)/100})")

selling 100 ETH for 244948.97432 USDC (price 2449.4897432000002)

## Trading the position in three asymmetric steps

we show that the full position, if traded in a two trades, is still effectively traded at the geometric average, here 2449

In [25]:
Sim.add_sgl_pos("ETH", 100, 2000, 3000, "ETHUSDC")
print(sqrt(2000*3000))
Sim.state()["orders"]

2449.489742783178

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,0
1,1,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,1
2,2,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,2
3,3,ETHUSDC,ETH,100.000000,100.000000,3000.000000,2000.000000,3

In [26]:
Sim.amm_sells("ETH", 10, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,5.1,route thru #3,10.0,20373.867433,ETH,USDC,ETHUSDC,3,1,2037.386743
0,5,10.0 ETH \n traded for \n20373.867433 USDC \n,10.0,20373.867433,ETH,USDC,ETHUSDC,[3],1,2037.386743 USDC per ETH

In [27]:
Sim.amm_sells("ETH", 20, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,6.1,route thru #3,20.0,43121.624528,ETH,USDC,ETHUSDC,3,1,2156.081226
0,6,20.0 ETH \n traded for \n43121.624528 USDC \n,20.0,43121.624528,ETH,USDC,ETHUSDC,[3],1,2156.081226 USDC per ETH

In [28]:
Sim.amm_sells("ETH", 70, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,7.1,route thru #3,70.0,181453.482317,ETH,USDC,ETHUSDC,3,1,2592.192605
0,7,70.0 ETH \n traded for \n181453.482317 USDC \n,70.0,181453.482317,ETH,USDC,ETHUSDC,[3],1,2592.192605 USDC per ETH

In [29]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,0
1,1,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,1
2,2,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,2
3,3,ETHUSDC,ETH,100.000000,0.000000,3000.000000,2000.000000,3

In [30]:
Sim.state()["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,0.1,route thru #0,100.0,244948.974278,ETH,USDC,ETHUSDC,0,1,2449.489743
0,0,100.0 ETH \n traded for \n244948.974278 USDC \n,100.0,244948.974278,ETH,USDC,ETHUSDC,[0],1,2449.489743 USDC per ETH
0,1.1,route thru #1,50.0,110102.051443,ETH,USDC,ETHUSDC,1,1,2202.041029
0,1,50.0 ETH \n traded for \n110102.051443 USDC \n,50.0,110102.051443,ETH,USDC,ETHUSDC,[1],1,2202.041029 USDC per ETH
0,2.1,route thru #1,50.0,134846.922835,ETH,USDC,ETHUSDC,1,1,2696.938457
0,2,50.0 ETH \n traded for \n134846.922835 USDC \n,50.0,134846.922835,ETH,USDC,ETHUSDC,[1],1,2696.938457 USDC per ETH
0,3.1,route thru #2,30.0,63495.491961,ETH,USDC,ETHUSDC,2,1,2116.516399
0,3,30.0 ETH \n traded for \n63495.491961 USDC \n,30.0,63495.491961,ETH,USDC,ETHUSDC,[2],1,2116.516399 USDC per ETH
0,4.1,route thru #2,70.0,181453.482317,ETH,USDC,ETHUSDC,2,1,2592.192605
0,4,70.0 ETH \n traded for \n181453.482317 USDC \n,70.0,181453.482317,ETH,USDC,ETHUSDC,[2],1,2592.192605 USDC per ETH
0,5.1,route thru #3,10.0,20373.867433,ETH,USDC,ETHUSDC,3,1,2037.386743
0,5,10.0 ETH \n traded for \n20373.867433 USDC \n,10.0,20373.867433,ETH,USDC,ETHUSDC,[3],1,2037.386743 USDC per ETH
0,6.1,route thru #3,20.0,43121.624528,ETH,USDC,ETHUSDC,3,1,2156.081226
0,6,20.0 ETH \n traded for \n43121.624528 USDC \n,20.0,43121.624528,ETH,USDC,ETHUSDC,[3],1,2156.081226 USDC per ETH
0,7.1,route thru #3,70.0,181453.482317,ETH,USDC,ETHUSDC,3,1,2592.192605
0,7,70.0 ETH \n traded for \n181453.482317 USDC \n,70.0,181453.482317,ETH,USDC,ETHUSDC,[3],1,2592.192605 USDC per ETH

In [31]:
p0 = Sim.state()["trades"].iloc[0]["price_avg"]
print(f"selling 100 ETH for {p0*100} USDC (price {p0})")

selling 100 ETH for 244948.9743 USDC (price 2449.489743)

In [32]:
p11 = Sim.state()["trades"].iloc[10]["price_avg"]
print(f"selling 10 ETH for {p11*10} USDC (price {p11})")

selling 10 ETH for 20373.86743 USDC (price 2037.386743)

In [33]:
p12 = Sim.state()["trades"].iloc[12]["price_avg"]
print(f"selling 20 ETH for {p12*20} USDC (price {p12})")

selling 20 ETH for 43121.62452 USDC (price 2156.081226)

In [34]:
p13 = Sim.state()["trades"].iloc[14]["price_avg"]
print(f"selling 70 ETH for {p13*70} USDC (price {p13})")

selling 70 ETH for 181453.48235 USDC (price 2592.192605)

In [35]:
print(f"selling 100 ETH for {p11*10+p12*20+p13*70} USDC (price {(p11*10+p12*20+p13*70)/100})")

selling 100 ETH for 244948.9743 USDC (price 2449.489743)